* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}

/* start konten */
.row {
  margin: 50px auto;
  width: 800px;
  /* background-color: salmon; */
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 4);
}

.gambar {
  width: 14rem;
  float: left;
  margin-right: 10px;
}
.gambar img {
  transition: 0.9s;
  border-radius: 15px;
}
.col {
  padding: 18px;
  margin-left: 10px;
}
.col ul {
  list-style-position: inside;
}

.back {
  width: 100px;
  /* height: 40px; */
  background-color: black;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
.back a {
  text-decoration: none;
  color: white;
}
/* end konten */

/* responsive */

@media (max-width: 650px) {
  .row {
    width: 76%;
  }
  .clearfix {
    overflow: auto;
  }
  .gambar {
    margin-left: 27px;
  }
  .gambar:hover {
    transform: scale(1);
  }
}
/* end responsive */
